.cabinet {
  display: block;
}

.crm-page,
.contacts-page,
.main-page {
  padding-top: 20px;

  h2 {
    margin-bottom: 1.5rem;
  }
}

.contacts-page {
  .form-inline {
    margin-bottom: 1.5rem;
  }
}
