<template>
  <div class="auth-wrapper">
    <b-card title="Авторизация пользователя">
      <b-form @submit="onSubmit">
        <b-form-group id="input-group-1" label="Email:" label-for="input-1">
          <b-form-input id="input-1" v-model="form.email" type="email" required placeholder="Введите e-mail" />
        </b-form-group>

        <b-form-group id="input-group-2" label="Пароль:" label-for="input-2">
          <b-form-input id="input-2" v-model="form.password" type="password" required placeholder="Введите пароль" />
        </b-form-group>

        <b-button type="submit" variant="primary">Войти</b-button>

        <b-alert :show="showAuthError" variant="danger">Ошибка авторизации</b-alert>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "Auth",
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      showAuthError: false,
    };
  },
  methods: {
    ...mapActions(["authorizeUser"]),
    onSubmit(e) {
      e.preventDefault();

      this.authorizeUser(this.form)
        .then(() => {
          this.$router.push("/cabinet/");
        })
        .catch(() => {
          this.showAuthError = true;
        });
    },
  },
};
</script>
