<template>
  <div class="cabinet-wrapper">
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand to="/cabinet/main/">ФЛЭТ</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/cabinet/main/">Главная</b-nav-item>
          <b-nav-item-dropdown text="CRM" right>
            <b-dropdown-item to="/cabinet/crm/contacts/">Контакты</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <b-nav-text>{{ name }}</b-nav-text>
          <b-nav-item @click.stop="onLogout">Выйти</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <router-view />
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "Cabinet",
  computed: {
    ...mapState(["name"]),
  },
  methods: {
    ...mapMutations(["logout"]),
    onLogout() {
      this.logout();
      this.$router.push("/auth/");
    },
  },
};
</script>
