<template>
  <b-container class="main-page">
    <b-row>
      <b-col>
        <b-breadcrumb :items="breadcrumbItems" />
        <h2>Главная</h2>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "Main",
  data() {
    return {
      breadcrumbItems: [
        {
          text: "Главная",
          active: true,
        },
      ],
    };
  },
};
</script>
