<template>
  <b-input v-bind="$attrs" v-model="filters[filterName]" />
</template>

<script>
export default {
  name: "FilterField",
  props: {
    filterName: {
      type: String,
      default: "",
    },
  },
  inject: ["filters"],
};
</script>
